apiVersion: v1
kind: Service
metadata:
  name: demo-app-service
  namespace: argocd
spec:
  selector:
    app: demo-app
  ports:
    - protocol: TCP
      port: 5000        # Service port
      targetPort: 5000  # Container port
      nodePort: 30010
  type: NodePort

